<%- include("partials/header") %>

<div class="box">
  <h2>Edit Todo</h2>
  <form id="edit-form" data-id="<%= item._id %>">
    <input type="text" name="todo" value="<%= item.title %>" required />
    <select name="priority"  required>
      <option value="low" <%= item.priority === 'low' ? 'selected' : '' %>>Low</option>
  <option value="high" <%= item.priority === 'high' ? 'selected' : '' %>>High</option>
  <option value="urgent" <%= item.priority === 'urgent' ? 'selected' : '' %>>Urgent</option>
    </select>
   <div class="btn-container">
     <button type="submit">Save</button>
   
   </div>
  </form>
  <div class="btn-container">
  <a href="/"><button class="btn-delete">Cancel</button></a>
  </div>
 
</div>

<%- include("partials/footer") %>
