<%- include("partials/header") %>

<div class="box">
  <ul>
    <% for(let i = 0; i < items.length; i++) { %>
    <div class="item">
      <form class="toggle-form" data-id="<%= items[i]._id %>">
        <input type="checkbox" name="completed" <%= items[i].completed ?
        'checked' : '' %> />
      </form>

      <li class="<%= items[i].completed ? 'done' : '' %>">
        <%= items[i].title %>
      </li>
      <% let priorityColor = 'black'; if (items[i].priority === 'high')
      priorityColor = 'red'; else if (items[i].priority === 'medium')
      priorityColor = 'orange'; else if (items[i].priority === 'low')
      priorityColor = 'green'; %>

      <li class="priority-<%= items[i].priority.toLowerCase() %>">
        <%= items[i].priority %>
      </li>
      <form action="/edit/<%= items[i]._id %>" method="get">
        <button type="submit">✏️</button>
      </form>

      <form class="delete-form" data-id="<%= items[i]._id %>">
        <button class="btn-delete" type="submit">🗑️</button>
      </form>
    </div>
    <% } %>
  </ul>

  <form action="/" method="post">
    <input type="text" name="todo" placeholder="Enter the task" required />
    <select name="priority" required>
      <option value="low">Low</option>
      <option value="high">High</option>
      <option value="urgent">Urgent</option>
    </select>
    <button type="submit">Add</button>
  </form>
</div>

<%- include("partials/footer") %>
